
/*--------------------------------------------------------------------------------------*/
/*--------------------------VARIABLES--------------------------*/
/*--------------------------------------------------------------------------------------*/
:root{
    --primary-color:#f05454;
    --secondary-color:#222831;
    --primary-font:'Mansalva', cursive;
    --secondary-font:'Open Sans', sans-serif;
    --tertiary-font:'Roboto', sans-serif;
}

/*--------------------------------------------------------------------------------------*/
/*--------------------------BODY--------------------------*/
/*--------------------------------------------------------------------------------------*/
body,html{
    padding:0;
    box-sizing: border-box;
    margin:0;
    font-size:16px;
    font-weight: 400;
    line-height: 1.8em;
    color:#222831;
    scroll-behavior: smooth;
    align-items: center;
    background-color:#222831;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Mansalva', cursive;
    
}
*{
    box-sizing: border-box;
}
/*--------------------------------------------------------------------------------------*/
/*--------------------------COFEE LOGO--------------------------*/
/*--------------------------------------------------------------------------------------*/
.logo-container{
    width:60px;
    height:60px;
    padding:10px;
    background-color:#f05454;
    position: fixed;
    z-index:1000;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top:20px;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
  

}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.logo-container:hover img{
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo-container img{
    animation: rotate-coffee 4s infinite;
}

@keyframes rotate-coffee{
    0%, 100%{ transform: rotate(-24deg);}
    50%{ transform: rotate(18deg); }

}


#menu-container{
    width:0px;
    height:0px;
    background-color:#f05454;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition:1s ease-in-out;
    z-index:200;
    opacity:98%;
    
}



#menu-content{
    position: fixed;
    padding:10px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
}

#menu-content ul{
    position: relative;

    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
}
#menu-content li{
    text-decoration-style: none;
    list-style-type: none;
    margin-top:30px;
    
}

#menu-content a{
    text-decoration:none;
    color:white;
    font-size:40px;
    pointer-events: none;
    cursor: default;
    margin:20px;
}


.list-container{   
    transition: 1s ease-in-out;
    opacity:0;
    position: relative;

}
.list-container2{   
    transition: 1s ease-in-out;
    opacity:0;
}
.list-container3{   
    transition: 1s ease-in-out;
    opacity:0;
}

.list-container4{   
    transition: 1s ease-in-out;
    opacity:0;
}
.list-container5{   
    transition: 1s ease-in-out;
    opacity:0;
}

.list-container:before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:white;
    bottom:-15px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.list-container:hover:before{
    width:100%;
}



.list-container2:before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:white;
    bottom:-15px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.list-container2:hover:before{
    width:100%;
}


.list-container3:before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:white;
    bottom:-15px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.list-container3:hover:before{
    width:100%;
}

.list-container4:before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:white;
    bottom:-15px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.list-container4:hover:before{
    width:100%;
}

.list-container5:before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:white;
    bottom:-15px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.list-container5:hover:before{
    width:100%;
}




/*parallax*/
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity:1;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.pimg1{
    background-image:url(images/other-images/white_coffee.png);
    height:100%;  
    display:flex;
    align-items: center;
    justify-content: space-around;

    letter-spacing: 2px;
    font-size:20px;
    flex-wrap: wrap;
}

@media (max-width:800px){
    .pimg1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .intro-text{
        margin:auto;
        margin-top:200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left:0px;
    }

    .navigation-list{
        display: none;
    }


    
}



.pimg2{
    background-image:url(images/other-images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg);
    min-height:500px;
   
}

.pimg3{
    background-image:url(images/other-images/coffe-with-me.png);
    min-height:500px;
    padding:50px;
}

.ptext{
    position: absolute;
    top:10%;
    width:100%;
    justify-items: center;
    justify-content: center;
    text-align: center;
    color:#321313;
    font-size:30px;
    letter-spacing: 8px;
    text-transform: uppercase;

}


.img-container{
    width:600px;
    height:100vh;
}

.img-container img{
    width:100%;
    height:100%;
    margin-left:40px;
}




/*intro-button*/
.recreate-button{
    background-color:#f05454;
    outline:none;
    border:none;
    border-radius: 0.3rem;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    color:#f7f7f7;
    font-weight: bold;
    vertical-align: text-bottom;
    transition: 0.5s ease-in-out;
    font-size:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;   
}
.recreate-button a{
    color:white;
    text-decoration: none;
}

.recreate-button:hover{
    background-color:#222831;
    color:white;
}

.social-media{
    width:100%;
    height:50px;
    background-color: rgb(0,0,0,0);
    z-index:100;
    bottom:0;
    display: flex;
    flex-direction: row;
  
}


.sm-container{
  width:30px;
  height:30px;
  background-color:#9c9c9c00;
  border-radius: .5rem;
  margin-left:10px;
  margin-right:5px;
  transition: .3s ease-in-out;
  align-items: center;
  text-align: center;
  margin-top:2px;
  justify-content: center;
  
}

.sm-container a{
  color:#f05454;
}

.sm-container:hover a{
  color:#f7f7f7;
}

.sm-container:hover{
  background-color:#f05454;


}

@media (max-width:1050px){
  
  
    .social-media{
        display: flex;
        justify-content: space-around;
    }
    .img-container{
        display: none;
    }
    .pimg1{
        height:100vh;
    }
    .about-container{
        flex-direction: column;
    }

   
 
}

.intro-header{
    color:white;
    margin-bottom:30px;
    font-family: 'Mansalva', cursive;
    z-index:100;align-content: center;
    align-items: center;
    text-align: center;
}

#intro-name{
    color:#f05454;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
    border-bottom:4px solid #f05454;
    

    
}


.section{
    background-color:#222831;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:100px;
    padding-top:0px;
}



.about-container{
    padding:40px;
    background-color:#222831;
    display: flex;
    justify-content: space-around;
    position: relative;
    color:white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.about-content{
    margin-top:10%;
    width:600px;
    background-color:#222831;
    text-align: left;
    text-align: justify;
}

.about-image{
    width:300px;
    height:500px;
    background-color:#fffdf6;
    z-index:100;
    margin-right:40px;
}

.about-image img{
    width:100%;
    height:100%;
    
}


.highlight{
    position: absolute;
    background-color:#f05454;
    width:100%;
    height:50px;
    top:60px;
    left:0;
    text-align:center;
    color:#fffdf6;
    font-family: 'Open Sans', sans-serif;
}

.highlight h2{
    position: absolute;
    right:213px;
    bottom:-10px;
}

@media (max-width:1050px){
    .section{
       
        padding:0px;

  
    }
    .about-image{
       width:300px;
        height:500px;
        margin:auto;  
        position: static;  
        
      
    }
    .about-container{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position:static;   
        
        width:100%;
        
        
    }

    .highlight{
        padding:10px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width:100%;
        position: static;  
        margin-bottom:50px;
    }
    .highlight h2{
        position: static;
    }

    .about-content{
        position: static;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        width:100%
        
    }
}


@media (max-width:500px){
    .about-image{
        display:none;
    }
}
.section2{
    background-color:#f7f7f7;   
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:100px;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.section2 h1{
    color:#321313;
}
.what-info{
    display: flex;
    background-color:#f7f7f7;
    width:80vw;
    height:400px;
    margin: auto;
    justify-content: space-around;
    position: relative;
}

.info-content{
    width:300px;
    height:400px;
    background-color:#f2ead3;
    position: relative;
    color:#321313;
}

.info-highlight{
    position: absolute;
    width:350px;
    height:60px;
    background-color: #f05454;
    top:50px;
    left:-25px;
    color:#2d4059;
    font-family: 'Open Sans', sans-serif;
}
.info-highlight h1{color:#f7f7f7;}
.info-content p{
    margin:30px;
    margin-top:120px;
    align-items: center;
    text-align: justify;
}

.about-content-footer{
    display: flex;
}





.skill-container{
    position: relative;
    display: flex;
    flex-direction: column;
    left:330px;
    top:150px;
    
}


.divider{
    display: flex;
    flex-direction: row;
}

.skill-section{
    padding:50px;
    background-color:#222831;
    width:60vw;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    padding:auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.highlight2{
    position:absolute;
    width:100%;
    height:50px;
    background-color:#f05454;
    top:75px;
    left:0;
    display: flex;
    align-items: center;

    
  
}



.highlight2 h1{
    z-index:100;
    color:white;
    font-family: 'Open Sans', sans-serif;
    margin-left:270px;
}


.skill-content{
    color:white;
    width:40vw;
    height:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:30px;
    margin-top:5px;
}

.skill-slot{

    width:320px;
    z-index:100;
    display:flex;
    flex-wrap: wrap;
    padding:5px;
    padding-top:10px;
    padding-bottom:0px;
    background-color:#222831;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill{
    width:130px;
    height:155px;
    background-color:white;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items:center; 
    color:#f05454;
    transition:0.5s ease-in-out;
    cursor: pointer;
    border:3px solid #222831;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill:hover{
    background-color:#222831;
    color:white;

}

.divider{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.skill-section p{
    margin-top:100px;

}
@media (max-width:1050px){
    .skill-section{
        width:100%;
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding:0px;
    }
    .skill-slot{
        width:60vw;
        margin-bottom:20px;
    }

    .skill-content{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        text-align:justify;
        order: 2;
        padding:0px;
        margin:0px;
        width:80%;
        
    }

    .highlight2{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: static;
        margin-bottom:0px;  
        order:3;
    }

    .highlight2 h1{
        margin-left:0px;
    }

    .skill-section p{
        margin-top:0px;
 
    }
}

.work-section{
    padding:20px;
    margin:40px auto;
}
.work-section ul{
    display:flex;
    margin-bottom:10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    
}
.work-section ul li{
    list-style:none;
    background:white;
    padding:8px 20px;
    margin:5px;
    letter-spacing:1px;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index:100;
}

.work-section ul li.active{
    background:#F05454;
    color:#fff;
}
.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.product .itemBox{
    position: relative;
    width:300px;
    height:300px;
    margin:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
    overflow: hidden;
    
}

.product .itemBox img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.product .itemBox img:hover{
    transform:scale(1.3);
}

.modal{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    transition:  0.25 ease-out;
}

.modal.open{
    opacity:1;
    pointer-events: all;
    z-index:100;
}


.full-img{
    position: absolute;
    height:150%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open{
    transform: translate(-50%, -50%) scale(0.5);
    
}

.container-form{
    height:80vh; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    
}

.container-form h1{
    color:white;
}



#form{
    font-size:15px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

#form input{
    font-size:15px;
  
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    border-radius: 1rem;
    outline: none;
    border:none;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.411);
    transition: .5s ease-in-out;
}

#form input:focus{
    background-color:#353535;
    color:#ffffff;
}
#form label{
    color:white;
    text-align: left;
    font-size:15px;
    text-transform:initial;
    letter-spacing: 0px;
    
}
#fname, #lname, #email{
    width:70%;
}

#message{
    
    border-radius: 1rem;
    outline: none;
    border:none;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.411); 
    transition: background-color .5s ease-in-out;
    resize: vertical;
    height:200px;
    width:80%;
    max-height:300px;
    min-height:200px;
}

#message:focus{
    background-color:#353535;
    color:#ffffff;
    font-size:15px;
}

.submit{
    
    margin:auto;
    margin-top:30px;
    border:none;
    border-radius:0.5rem;
    cursor: pointer;
    transition:0.5s ease-in-out;
    font-weight: bolder;
    padding:10px;

    width:150px;
    color:#ffffff;
    background-color:#f05454;
    border:1px solid #f05454;
 
}

.submit:hover{
    background-color:#222831;
    color: white;
    border:1px solid #222831;
}

@media (max-width:850px){
    .container-form{        
    }


    #fname, #lname, #email ,#message{
        width:100%;
    }

    #form{
        width:80%;
    }
}


.cursive{
    font-family: 'Mansalva', cursive;font-weight: bolder;
}

#section-3rd{
    margin-top:5vh;
}